@import url('./fonts.css');

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: 500;
  line-height: 1.3rem;
}

:root {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 12vh 68vh 16vh;
  grid-template-areas: "h h h h h h h h h h h h"
                       ". . m m m m m m m m . ."
                       ". . f f f f f f f f . .";
  gap: 16px;
}

.body-products {
  grid-template-rows: 12vh min-content 16vh;
}

header {
  border-bottom: groove 3px #f4f4f4c3;
  max-height: 107px;
  min-height: 79px;

  background-color: #f4f4f4f7;

  grid-area: h;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "n n n n n n n n n n n n";
  gap: 16px;

  position: sticky;
  top: 0;
  z-index: 2;
}

main {
  grid-area: m;
}

footer {
  border-top: ridge 3px #f4f4f4c3;

  grid-area: f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: bold;
  color: #005751;
}

h2 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #005751;
  line-height: 2rem;
}

h3 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h4 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  color: #363636;
  letter-spacing: 1px;
  text-align: justify;
}

/* General */

.btn {
  border: none;
  border-radius: 8px;
  padding: 12px;

  background-color: #005751;

  font-size: 1.2rem;
  color: #f4f4f4;
}

.btn:hover {
  background-color: #417e7f;

  color: #f4f4f4;
}

/* navbar */

.navbar {
  grid-area: n;
  grid-column: 3 / span 8;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.navbar-menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;

  list-style: none;
}

.navbar-menu-element {
  padding: 4.5vh 0;

  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar-menu-element_social {
  padding: 5px;
  border-radius: 90px;
}

.navbar-menu-element__link {
  color: #005751;
  text-decoration: none;
}

.navbar-menu-element__link>img {
  fill: #005751;
  height: 4vh;
}

.navbar-dropdown {
  height: 4vh;
  display: none;
}

.navbar-dropdown__btn>img {
  fill: #005751;
  height: 4vh;
}

.navbar-dropdown-options {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1;
}

.navbar-dropdown-options__link {
  color: aliceblue;
  text-decoration: none;
  padding: 2%;
  display: block;
}

.navbar-dropdown:hover .navbar-dropdown-options {
  display: flex;
  background-color: #005751;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  left: 0px;
}

/* cover */
.cover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.cover-text {
  width: 40%;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.cover-img {
  width: 32%;
  height: 40vh;
  border-radius: 65% 0 60% 0;

  background-image: url('./../assets/index/index-cover.jpg');
  background-size: cover;
  background-position: center;
}

.cover-img_about-us {
  background-image: url('./../assets/about-us/portada-nosotros.webp');
}

/* pages */

/* productos */

.products {
  margin: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.product-offer{
  margin-top: 48px;

  display: flex;
  flex-direction: row;
  gap: 32px;
}

.product-offer-card {
  background-color: transparent;
  width: 20vw;
  height: 50vh;
  perspective: 1000px;
}

.flip {
  width: 100%;
  height: 100%;

  position: relative;

  text-align: center;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.product-offer-card:hover .flip {
  transform: rotateY(180deg);
}

.flip__front, .flip__back {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip__front > h4{
  border-radius: 0 0 8px 8px;
  padding: 16px 0;
  width: 100%;

  background-color: #363636d9;

  color: #f4f4f4;

  display: inline-block;

  position: absolute;
  z-index: 1;
  bottom: 0;
}

.flip__front > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.flip__back {
  background-color: #f4f4f4c3;

  display: flex;
  align-items: center;

  color: white;
  transform: rotateY(180deg);
}

.flip__back > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: rotateY(180deg);
}

.flip__back > p {
  border-radius: 8px;
  padding: 8%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #363636d9;

  color: #f4f4f4;

  position: absolute;
  z-index: 1;
}


/* promociones */

.sales {
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
}

.sales__card {
  width: 24%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sales__card > h4 {
  border-bottom: groove 3px #f4f4f4c3;
}

/* contacto */

.contact {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.location {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

}

.location > iframe{
  margin: auto 0;
  width: 100%;
  height: 25vh;
}

.contact-area {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

#contact-form {
  width: 40%;

  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.contact-form-section {
  border: 0px;
}

.contact-form-section__title {
  margin-bottom: 20px;
  border-bottom: #005751 3px solid;
  width: 400px;

  font-family: 'NeueHaasGroteskDisp Pro Md', serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

.contact-form-entry {
  margin-bottom: 20px;
}

.contact-form-entry__title {
  margin-right: 20px;

  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4rem;
  color: #646464;
}

.contact-form-entry__input {
  border: #535353 2.3px solid;
  border-radius: 5px;
  padding: 3px;
}

#desc {
  width: 100%;
  height: 100px;
}


/* NO BEM MODIFFIERS */

.hover-effect:hover {
  background-color: #676b6b35;
}

.txt-center {
  text-align: center;
}

.important {
  margin-top: 12px;

  display: inline-block;

  color: #005751;
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: bold;
}

.main-index {
  display: flex;
  align-items: center;
}

.main-about-us {
  display: flex;
  align-items: center;
}

.main-contact {
  display: flex;
  align-items: center;
}

/* media queries */

/* phone */

@media screen and (max-width: 599px) {

  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12vh min-content 200px;
    grid-template-areas: "h h h h"
                         "m m m m"
                         "f f f f";
    gap: 4px;
  }

  .body-products {
    grid-template-rows: 12vh min-content 200px;
  }

  header {
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    grid-template-areas: "n n n n";
  }

  /* general */

  .btn {
    margin: 4%;
  }

  /* navbar */

  .navbar {
    grid-area: n;
    grid-column: 1 / span 4;

    justify-content: space-around;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-dropdown {
    display: inline-block;
  }

  /* cover */

  .cover {
    display: flex;
    flex-flow: column nowrap;
  }

  .cover-text {
    width: 100%;
    display: inline-block;
  }

  .cover-img {
    margin: 4% 0;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 40vh;
  }

  /* pages */

  /* productos */

  .product-offer{
    flex-direction: column;
  }

  .product-offer-card {
    width: 75vw;
    height: 40vh;
  }

  /* promociones */

  .sales {
    flex-flow: column wrap;
  }

  .sales__card {
    width: 96%;
  }

  /* contacto */

  .contact {
    width: 90%;

    flex-flow: column nowrap;
    gap: 16px;
  }

  #contact-form {
    width: 100%;
  }

  .contact-form-section__title {
    width: 100%;
  }

  /* NO BEM MODIFFIERS */

  .main-index{
    padding: 0 4%;

    display: inline-block;
  }

  .main-about-us{
    padding: 0 4%;

    display: inline-block;
  }

  .main-contact{
    justify-content: center;
  }

}

/* tablet */

@media screen and (min-width: 600px) and (max-width: 1239px) {
  body {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 8px;
    grid-template-areas: "h h h h h h h h"
      ". m m m m m m ."
      ". f f f f f f .";
  }

  .body-contact {
    grid-template-rows: 12vh min-content 16vh;
  }

  header {
    place-items: center;
  }

  /* general */

  .btn {
    margin: 4%;
  }

  .navbar {
    width: fit-content;

    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  .navbar-menu {
    width: max-content;

    gap: 16px;
  }

  .navbar-menu-element {
    padding: 1vh 0;
  }

  .navbar-menu-element_social {
    display: none;
  }

  .cover {
    display: flex;
    flex-flow: column nowrap;
  }

  .cover-text {
    width: 100%;
    display: inline-block;
  }

  .cover-img {
    margin: 4% 0;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 40vh;
  }

  /* pages */

  /* productos */

  .product-offer{
    flex-direction: column;
  }

  .product-offer-card {
    width: 50vw;
    height: 50vh;
  }

  /* promociones */

  .sales {
    flex-flow: column wrap;
  }

  .sales__card {
    width: 96%;
  }

  /* contacto */

  .contact {
    width: 90%;

    flex-flow: column nowrap;
    gap: 16px;
  }

  #contact-form {
    width: 100%;
  }

  .contact-form-section__title {
    width: 100%;
  }

  /* NO BEM MODIFFIERS */

  .main-index {
    padding: 0 4%;
  }

  .main-about-us {
    padding: 0 4%;
  }

}

/* tablet */

/* @media screen and (min-width: 905px) and (max-width: 1239px) {
  body {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 8px;
    grid-template-areas: "h h h h h h h h"
      ". m m m m m m ."
      ". f f f f f f .";
  }

  header {
    place-items: center;
  }

  .btn {
    margin: 4%;
  }

  .main-index {
    padding: 0 4%;
  }

  .navbar {
    width: fit-content;

    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
  }

  .navbar-menu {
    gap: 16px;
  }

  .navbar-menu-element {
    padding: 1vh 1%;
  }

  .navbar-menu-element_social {
    display: none;
  }

  .cover {
    display: flex;
    flex-flow: column nowrap;
  }

  .cover-text {
    width: 100%;
    display: inline-block;
  }

  .cover-img {
    margin: 4% 0;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 40vh;
  }

} */

/* laptop */

@media screen and (min-width: 1240px) and (max-width: 1439px) {
  .navbar-menu-element_social {
    display: none;
  }

  .cover-img {
    height: 36vh;
  }
}