<<<<<<< HEAD
@import url('./fonts.css');

* {
  margin: 0;
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: 500;

  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
}

header {
  border-bottom: groove 3px #f4f4f4c3;

  background-color: #f4f4f4f7;

  position: sticky;
  top: 0;
  z-index: 2;
}

main {
  min-height: fit-content;
}

.main-index {
  height: 72vh;
  min-height: fit-content;
}


footer {
  height: 16vh;
  min-height: 132px;

  border-top: ridge 3px #f4f4f4c3;

  background-color: #f4f4f4f7;
}

h1 {
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: bold;
  color: #005751;
}

h2 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #005751;
  line-height: 2rem;
}

h3 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h4 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  color: #363636;
  letter-spacing: 1px;
  text-align: justify;
}

/* Classes */

/* General */
.button {
  border: none;
  border-radius: 8px;
  padding: 12px;

  background-color: #005751;

  font-size: 1.2rem;
  color: #f4f4f4;
}

.button:hover {
  background-color: #417e7f;

  color: #f4f4f4;
}

/* navbar */

.navbar-link {

  color: #005751;

  transition: transform 0.6s;
}

.navbar-link:hover {
  border-bottom: groove 3px #005751;
  border-radius: 0 0 8px 8px;

  background-color: #676b6b35;

  transform: translateY(-10px);
}

.navbar-link_active {
  border-bottom: groove 3px #005751;
  border-radius: 0 0 8px 8px;
}

/* cover */
.cover-img {
  border-radius: 65% 0 60% 0;
}

.cover-img > img {
  border-radius: 65% 0 60% 0;
  width: 100%;
  height: 100%;
}

/* productos */
.product-offer-card {
  background-color: transparent;
  width: 32%;
  height: 50vh;
  perspective: 1000px;
}

.flip {
  width: 100%;
  height: 100%;

  position: relative;

  text-align: center;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.product-offer-card:hover .flip {
  transform: rotateY(180deg);
}

.flip__front, .flip__back {
  width: 100%;
  height: 100%;

  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip__front > h4{
  border-radius: 0 0 8px 8px;
  padding: 16px 0;
  width: 100%;

  background-color: #363636d9;

  color: #f4f4f4;

  display: inline-block;

  position: absolute;
  z-index: 1;
  bottom: 0;
}

.flip__front > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.flip__back {
  background-color: #f4f4f4c3;

  color: white;
  transform: rotateY(180deg);
}

.flip__back > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: rotateY(180deg);
}

.flip__back > p {
  border-radius: 8px;
  padding: 8%;
  width: 100%;
  height: 100%;

  background-color: #363636d9;

  color: #f4f4f4;

  position: absolute;
  z-index: 1;
}


/* No BEM Moddifiers */

/* media queries */

/* mobile */

@media screen and (max-width: 575px) {
  .main-index {
    height: fit-content;
  }

  footer {
    height: fit-content;
  }

  /* general */

  /* navbar */


  .navbar-col {
    flex-direction: column;
  }

  /* cover */
  .cover-img {
    margin: 2rem 0;
    border-radius: 0;
  }

  .cover-img > img {
    border-radius: 0;
  }

  /* productos */

  .product-offer-card {
    margin-bottom: 16px;
    width: 100%;
  }
}

/* tablet */

@media screen and (min-width: 576px) and (max-width: 767px) {
  .main-index {
    height: fit-content;
  }

  footer {
    height: fit-content;
  }

  /* general */

  /* cover */
  .cover-img {
    margin: 2rem 0;
    border-radius: 0;
  }

  .cover-img > img {
    border-radius: 0;
  }

  /* productos */

  .product-offer-card {
    margin-bottom: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-index {
    height: fit-content;
  }

  footer {
    height: fit-content;
  }

  /* general */

  /* cover */
  .cover-img {
    margin: 2rem 0;
    border-radius: 0;
  }

  .cover-img > img {
    border-radius: 0;
  }

  /* productos */

  .product-offer-card {
    margin-bottom: 16px;
    width: 100%;
  }
}

/* laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-index {
    height: fit-content;
  }

  footer {
    height: fit-content;
  }
}
=======
.cover-img{border-radius:65% 0 60% 0}.cover-img>img{border-radius:65% 0 60% 0;width:100%;height:100%}.product-offer-card{background-color:rgba(0,0,0,0);width:32%;height:50vh;perspective:1000px}.flip{width:100%;height:100%;position:relative;text-align:center;transition:transform 1s;transform-style:preserve-3d}.product-offer-card:hover .flip{transform:rotateY(180deg)}.flip__front,.flip__back{width:100%;height:100%;position:absolute;-webkit-backface-visibility:hidden;backface-visibility:hidden}.flip__front>h4{border-radius:0 0 8px 8px;padding:16px 0;width:100%;background-color:rgba(54,54,54,.8509803922);color:#f4f4f4;display:inline-block;position:absolute;z-index:1;bottom:0}.flip__front>img{border-radius:8px;width:100%;height:100%;object-fit:cover}.flip__back{background-color:rgba(244,244,244,.7647058824);color:#fff;transform:rotateY(180deg)}.flip__back>img{border-radius:8px;width:100%;height:100%;object-fit:cover;transform:rotateY(180deg)}.flip__back>p{border-radius:8px;padding:8%;width:100%;height:100%;background-color:rgba(54,54,54,.8509803922);color:#f4f4f4;position:absolute;z-index:1}*{margin:0;font-family:"NeueHaasGroteskDisp Pro",sans-serif;font-weight:500;box-sizing:border-box}:root{font-size:16px}body{min-height:100vh}header{border-bottom:groove 3px rgba(244,244,244,.7647058824);background-color:rgba(244,244,244,.968627451);position:sticky;top:0;z-index:2}.main-index{height:72vh}footer{height:16vh;border-top:ridge 3px rgba(244,244,244,.7647058824);background-color:rgba(244,244,244,.968627451)}h1{font-family:"NeueHaasGroteskDisp Pro",sans-serif;font-weight:bold;color:#005751}h2{font-family:"NeueHaasGroteskDisp Pro Md",sans-serif;font-size:2rem;font-weight:500;color:#005751;line-height:2rem}h3{font-family:"NeueHaasGroteskDisp Pro Md",sans-serif;font-size:1.5rem;font-weight:500;line-height:2rem}h4{font-family:"NeueHaasGroteskDisp Pro Md",sans-serif;font-size:1.2rem;font-weight:500;line-height:2rem}p{color:#363636;letter-spacing:1px;text-align:justify}.button{border:none;border-radius:8px;padding:12px;background-color:#005751;font-size:1.2rem;color:#f4f4f4}.button:hover{background-color:#417e7f;color:#f4f4f4}.navbar-link{color:#005751;transition:transform .6s}.navbar-link:hover{border-bottom:groove 3px #005751;border-radius:0 0 8px 8px;background-color:rgba(54,54,54,.8509803922);transform:translateY(-10px)}.navbar-link_active{border-bottom:groove 3px #005751;border-radius:0 0 8px 8px}@media screen and (max-width: 575px){.main-index{height:fit-content}footer{height:fit-content}.navbar-col{flex-direction:column}.cover-img{margin:2rem 0;border-radius:0}.cover-img>img{border-radius:0}.product-offer-card{margin-bottom:16px;width:100%}}@media screen and (min-width: 576px)and (max-width: 767px){.main-index{height:fit-content}footer{height:fit-content}.cover-img{margin:2rem 0;border-radius:0}.cover-img>img{border-radius:0}.product-offer-card{margin-bottom:16px;width:100%}}@media screen and (min-width: 768px)and (max-width: 991px){.main-index{height:fit-content}footer{height:fit-content}.cover-img{margin:2rem 0;border-radius:0}.cover-img>img{border-radius:0}.product-offer-card{margin-bottom:16px;width:100%}}@media screen and (min-width: 992px)and (max-width: 1199px){.main-index{height:fit-content}footer{height:fit-content}}/*# sourceMappingURL=style.css.map */
>>>>>>> dev
