@import url('./fonts.css');

* {
  margin: 0;
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: 500;

  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
}

header {
  height: 12vh;
  border-bottom: groove 3px #f4f4f4c3;

  background-color: #f4f4f4f7;
}

.main-index {
  height: 72vh;
}


footer {
  height: 16vh;

  border-top: ridge 3px #f4f4f4c3;

  background-color: #f4f4f4f7;
}

h1 {
  font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
  font-weight: bold;
  color: #005751;
}

h2 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #005751;
  line-height: 2rem;
}

h3 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h4 {
  font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  color: #363636;
  letter-spacing: 1px;
  text-align: justify;
}

/* Classes */

/* General */
.button {
  border: none;
  border-radius: 8px;
  padding: 12px;

  background-color: #005751;

  font-size: 1.2rem;
  color: #f4f4f4;
}

.button:hover {
  background-color: #417e7f;

  color: #f4f4f4;
}

/* navbar */

.navbar-link {

  color: #005751;

  transition: transform 0.6s;
}

.navbar-link:hover {
  border-bottom: groove 3px #005751;
  border-radius: 0 0 8px 8px;

  background-color: #676b6b35;

  transform: translateY(-10px);
}

.navbar-link_active {
  border-bottom: groove 3px #005751;
  border-radius: 0 0 8px 8px;
}

/* cover */
.cover-img {
  border-radius: 65% 0 60% 0;
  height: 32vh;
}

.cover-img > img {
  border-radius: 65% 0 60% 0;
  width: 100%;
  height: 100%;
}

/* No BEM Moddifiers */
