@use 'globaldefinitions' as g

.cover
    width: 100%
    @extend %flex-between-center

.cover-text
    width: 55%

    @extend %flex-column
    justify-content: center
    gap: 16px

.cover-text__title
    line-height: 1.5rem

.cover-text__p
    @include g.light-font(normal, 1.2rem, g.$dark-color)
    line-height: 1.3rem
    letter-spacing: 1px
    text-align: justify

.cover-text__button
    border-radius: 6px
    padding: 8px 8px
    width: fit-content

    @include g.regular-font(normal, 1.2rem, g.$light-color)
    text-decoration: none

    background-color: g.$primary-color

    &:hover
        background-color: g.$hover-color_button

.cover-image
    border-radius: 65% 0 60% 0
    width: 40%

    @media screen and (max-width: 1279px)
        border-radius: 0

.cover-image__content
    border-radius: 65% 0 60% 0
    width: 100%
    height: 100%

    object-fit: cover
    object-position: center top

    @media screen and (max-width: 1279px)
        border-radius: 0

// Media queries

// Phone
@media screen and (max-width: 768px)
    .cover
        flex-direction: column
        gap: 16px

    .cover-text
        width: 90%

    .cover-image
        width: 90%
        height: 40vh

    .cover-image__content
        object-position: center center

// tablet
@media screen and (min-width: 769px) and (max-width: 1279px)
    .cover
        flex-direction: column
        gap: 16px

    .cover-text
        width: 80%

    .cover-image
        width: 80%
        height: 40vh

    .cover-image__content
        object-position: center center
// Laptop & small monitors
@media screen and (min-width: 1280px) and (max-width: 1719px)
