@use 'globaldefinitions' as g

.promociones-main
    // Display & position
    @extend %flex-column

.promociones-title
    // Display & position
    align-self: flex-start

.sales
    // Display & position
    @extend %flex-between-center
    flex-direction: row
    gap: 32px

.sales__card
    // Display & position
    @extend %flex-column
    gap: 8px

    // Typography
    text-align: center

// Media queries

// Phone

@media screen and (max-width: 768px)
    .promociones-title
        // Box Model
        margin-left: 5%

    .sales
        // Display & position
        flex-direction: column
        gap: 32px

        // Box Model
        width: 90%


// Tablet

@media screen and (min-width: 769px) and (max-width: 1279px)
    .promociones-title
        // Box Model
        margin-left: 5%

    .sales
        // Display & position
        flex-direction: column
        gap: 32px

        // Box Model
        width: 90%