@use 'globaldefinitions' as g
@use 'navbar'
@use 'footer'
@use 'cover'
@use 'productos'
@use 'promociones'
@use 'contacto'
@use 'error'

// General styles

*
    // Box Model
    margin: 0
    padding: 0
    box-sizing: border-box

    // Typography
    font-family: g.$base-font
    font-weight: 500

:root
    // Typography
    font-size: 16px

body
    // Display & position
    @include g.grid(12, "h h h h h h h h h h h h" ". . m m m m m m m m . ." "f f f f f f f f f f f f", 16px)

    // Box Model
    min-height: 100vh

header
    // Display & position
    grid-area: h

    @include g.grid(12, ". . c c c c c c c c . .", 16px)
    justify-content: center
    align-items: center

    position: sticky
    top: 0
    z-index: 2

    // Box Model
    border-bottom: groove 3px rgba(g.$light-color, 0.797)
    background-color: g.$light-color
    height: 8vh

    // Media queries
    @media screen and (max-height: 600px)
        // Box Model
        height: 20vh

main
    // Display & position
    grid-area: m

    @extend %flex-evenly-center

    // Box Model
    width: 100%
    min-height: 63vh

footer
    // Display & position
    grid-area: f

    @include g.grid(12, ". i i i a a a a s s s .", 16px)
    justify-content: space-between
    align-items: center

    position: relative

    // Box Model
    //background: linear-gradient(181deg,#00bfb2,#009389,#005751,#002b28,#001e1c)
    background: linear-gradient(90deg,#5B5B5B,#363636,#1A1A1A,#131313)
    background-size: 300% 300%
    animation: gradient-animation 8s ease infinite

    width: 100%
    height: 25vh

    // Typography
    color: g.$light-color

    // Other
    overflow: hidden

    @keyframes gradient-animation
        0%
            background-position: 0% 50%
        50%
            background-position: 100% 50%
        100%
            background-position: 0% 50%

h2
    // Typography
    @include g.bold-font(normal, 2rem, g.$primary-color)

h3
    // Typography
    @include g.mid-font(normal, 1.5rem, g.$primary-color)

h4
    // Typography
    @include g.mid-font(normal, 1.2rem, g.$primary-color)

// Modiffiers
.txt-center
    // Typography
    @include g.regular-font(normal, 1.1rem, g.$dark-color)
    text-align: center
    line-height: 1rem
    letter-spacing: 1px

// Media queries

// Phone

@media screen and (max-width: 768px)
    body
        // Display & position
        @include g.grid(4, "h h h h" "m m m m" "f f f f", 16px)

    header
        // Display & position
        @include g.grid(4, "c c c c", 16px)

    footer
        // Display & position
        @include g.grid(4, "i i i i" "a a a a" "s s s s", 16px)

        // Box Model
        padding: 16px 0
        height: fit-content

// Tablet

@media screen and (min-width: 769px) and (max-width: 1279px)
    body
        // Display & position
        @include g.grid(8, "h h h h h h h h" ". m m m m m m ." "f f f f f f f f", 16px)

    header
        // Display & position
        @include g.grid(8, ". c c c c c c .", 16px)

    footer
        // Display & position
        @include g.grid(8, "i i i i a a a a" ". s s s s s s .", 16px)

        // Box Model
        padding: 16px 0
        height: fit-content


// Laptop & small monitors

@media screen and (min-width: 1280px) and (max-width: 1440px)
    main
        // Box Model
        min-height: 68vh

    footer
        // Display & position
        grid-template-areas: ". i i a a a s s s s s ."