@use 'globaldefinitions' as g
@use 'navbar'
@use 'cover'
@use 'productos'
@use 'promociones'

// General styles

*
    // Box Model
    margin: 0
    padding: 0
    box-sizing: border-box

    // Typography
    font-family: g.$base-font
    font-weight: 500

:root
    // Typography
    font-size: 16px

body
    min-height: 100vh
    // Display & position
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-areas: "h h h h h h h h h h h h" ". . m m m m m m m m . ." "f f f f f f f f f f f f"
    gap: 16px

header
    height: 8vh

    // Display & position
    grid-area: h

    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-areas: ". . c c c c c c c c . ."
    gap: 16px
    justify-content: center
    align-items: center

    position: sticky
    top: 0
    z-index: 2

    // Box Model
    border-bottom: groove 3px rgba(g.$light-color, 0.797)

    // Background
    background-color: g.$light-color

    @media screen and (max-height: 600px)
        height: 20vh

main
    width: 100%
    min-height: 68vh

    // Display & position
    grid-area: m

    @extend %flex-evenly-center

footer
    width: 100%
    height: 20vh

    grid-area: f

    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-areas: ". i i i a a a a s s s ."
    gap: 16px
    justify-content: space-between
    align-items: center

    background-color: g.$dark-color

    color: g.$light-color

h2
    @include g.bold-font(normal, 2rem, g.$primary-color)

h3
    @include g.bold-font(normal, 1.5rem, g.$primary-color)

h4
    @include g.bold-font(normal, 1.2rem, g.$primary-color)

// General classes

// footer

.general-info
    grid-area: i

    @extend %flex-column
    justify-content: center
    gap: 8px

.social-info
    line-height: 1.5rem

.social-info__link
    @include g.regular-font(normal, 1.5rem, g.$light-color)
    @include g.link-style(#085ddd)

.privacy-info__link
    @include g.link-style(g.$light-color)

.address
    grid-area: a

    address
        @extend %flex-column
        gap: 8px

        text-align: center

.address_content-p__link
    @include g.link-style(g.$light-color)

.site-map
    grid-area: s
    display: flex
    flex-direction: row
    justify-content: space-between

.site-map__title
    border-bottom: solid 1.5px rgba(g.$light-color, 0.797)

    @include g.bold-font(normal, 1.2rem, g.$light-color)

.site-map__link
    @include g.regular-font(normal, 1rem, g.$light-color)
    @include g.link-style(g.$light-color)

.our-offer
    @extend %flex-column
    gap: 4px

    @media screen and (max-width: 768px)
        width: 50%

.about-us
    @extend %flex-column
    gap: 4px

    @media screen and (max-width: 768px)
        width: 75%

// productos
.productos-main
    flex-direction: column

// Modiffiers
.txt-center
    @include g.regular-font(normal, 1.1rem, g.$dark-color)
    text-align: center
    line-height: 1rem
    letter-spacing: 1px

// Media queries

// Phone

@media screen and (max-width: 768px)
    body
        grid-template-columns: repeat(4, 1fr)
        grid-template-areas: "h h h h" "m m m m" "f f f f"

    header
        grid-template-columns: repeat(4, 1fr)
        grid-template-areas: "c c c c"

    footer
        padding: 16px 0
        height: fit-content

        grid-template-columns: repeat(4, 1fr)
        grid-template-areas: "i i i i" "a a a a" "s s s s"
        gap: 16px

    .general-info
        padding-bottom: 16px

        border-bottom: solid 1.5px g.$light-color
        align-items: center

    .social-info
        text-align: center

    .dev-info
        text-align: center

    .privacy-info
        text-align: center

    .address
        padding-bottom: 16px

        border-bottom: solid 1.5px g.$light-color

    .site-map
        flex-direction: column
        align-items: center
        gap: 16px

        text-align: center

// Tablet

@media screen and (min-width: 769px) and (max-width: 1279px)
    body
        grid-template-columns: repeat(8, 1fr)
        grid-template-areas: "h h h h h h h h" ". m m m m m m ." "f f f f f f f f"


    header
        grid-template-columns: repeat(8, 1fr)
        grid-template-areas: ". c c c c c c ."

    footer
        padding: 16px 0
        height: fit-content

        grid-template-columns: repeat(8, 1fr)
        grid-template-areas: "i i i i a a a a" ". s s s s s s ."
        gap: 16px

    .general-info
        padding-bottom: 16px

        align-items: center

    .social-info
        text-align: center

    .dev-info
        text-align: center

    .privacy-info
        text-align: center

    .address
        padding-bottom: 16px

// Laptop & small monitors
@media screen and (min-width: 1280px) and (max-width: 1440px)
    main
        min-height: 68vh

    footer
        grid-template-areas: ". i i a a a s s s s s ."

